<div class="row">
  <div class="col-md-9">
    {{#if message}}
      {{#bs-alert type="success"}}<span class="success-message">{{message}}</span>{{/bs-alert}}
    {{/if}}
    {{#if error}}
      {{#bs-alert type="danger"}}<span class="error-message">{{error}}</span>{{/bs-alert}}
    {{/if}}
  </div>
  <div class="col-md-3">
    <span class="pull-right">
    {{#each buttons as |button|}}
      {{#bs-button type=button.type onClick=(action button.action) disabled=(if button.enabled false true)}}{{button.title}}{{/bs-button}}
    {{/each}}
    </span>
  </div>
</div>
{{yield}}
