<div class="row">
  <div class="col-md-9">
    {{job-authorize job}}
  </div>
  <div class="col-md-3">
    {{job-controls job}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{job-status job}}
  </div>
</div>
