{{#bs-form as |form|}}
  {{#form.group class='job-authorize-group form-inline' }}
      <label for="authorize-job">Authorization Code:</label>
      {{input class='form-control job-name-input' id='authorize-job'
              value=token
              disabled=job.hasAuthorization}}
      {{#bs-button type='primary' onClick=(action "authorize") disabled=job.hasAuthorization}}Authorize{{/bs-button}}
  {{/form.group}}
{{/bs-form}}
