<p class="body">You will be receive an email {{#if email}}at {{email}}{{/if}} when the job has finishes or in the event of an error.</p>
<p class="body">Result data will be uploaded to Duke Data Service and shared with the <strong>{{shareGroup.name}}</strong> group for expert review. If the {{shareGroup.name}} has any feedback on the data, they will contact you. Otherwise, your data will be delivered as a Duke Data Service project.</p>
