<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        {{job-status job}}
        {{#if showAuthorize}}
          {{job-authorize job}}
        {{/if}}
      </div>
      <div class="col-md-3">
        {{job-state job}}
        {{job-controls job}}
      </div>
    </div>
  </div>
</div>
