<p class="body">After the job runs, you will receive an email{{#if email}} at {{email}}{{/if}} with the status of the job.</p>
<p class="body">Result data will be uploaded to Duke Data Service but will not be available until reviewed by the {{share-group-contact shareGroup}} group.
  If the {{shareGroup.name}} group has any feedback, they will contact you. Otherwise, your results will be delivered as a Duke Data Service project.</p>
