<div class="panel-heading">
  <span class="lead">{{job-detail-title job}}</span>
</div>
<div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        {{job-detail-body job}}
      </div>
      <div class="col-md-3">
        {{job-state job}}
        {{job-controls job}}
      </div>
    </div>
  </div>
