<div class="panel-heading">From {{source}}</div>
<table class="table table-striped table-condensed">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  {{#each files as |file|}}
    <tr>
      <td>{{file.destinationPath}}</td>
      <td>{{file.size}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
