{{#if files}}
  {{#if source}}<div class="panel-heading">From {{source}}</div>{{/if}}
  <table class="table table-striped table-condensed">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  {{#each files as |file|}}
    <tr>
      <td class="file-destination-path">{{file.destinationPath}}</td>
      <td class="file-size">{{number-to-human-size file.size true 2}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/if}}