<p class="body">After the job runs, you will receive an email{{#if email}} at <strong>{{email}}</strong>{{/if}} with the status of the job.</p>
<p class="body">Result data will be uploaded to Duke Data Service for review by the {{share-group-contact shareGroup}} group.</p>
