<p class="body">Result data has been uploaded to Duke Data Service for review by the {{share-group-contact shareGroup}} group.</p>
<p class="body">The {{shareGroup.name}} group will verify the quality of the results and contact you if there are any issues. Otherwise, your results will be delivered as a Duke Data Service project{{#if email}} to <strong>{{email}}</strong>{{/if}}.</p>
