  <div class="col-md-12">
    <h3>Bespin Job '{{job.name}}'</h3>
    {{#job-summary-detail-row leadText='Selected Workflow:'}}
      {{workflows/workflow-version-summary title=workflowTitle workflowVersion=job.workflowVersion}}
    {{/job-summary-detail-row}}
  {{#job-summary-detail-row leadText='Job Details:'}}
    {{job-detail job}}
  {{/job-summary-detail-row}}
    {{#job-summary-detail-row leadText='Input Data:'}}
      {{job-file-stage-group-detail job.stageGroup}}
    {{/job-summary-detail-row}}
  </div>
