{{#each buttons as |button|}}
  <div class="btn-group">
    {{#bs-button type=button.type onClick=(action button.action) disabled=(if button.enabled false true)}}{{button.title}}{{/bs-button}}
  </div>
{{/each}}