<td>{{sensitive-value token.id showLeadingCharacters=6}}</td>
<td>{{token.created}}</td>
<td>{{#bs-button type="danger" onClick=(action 'deleteToken' token)
                 class="deleteToken-button"}}Delete{{/bs-button}}</td>
{{yield}}
