<article class="workflow-detail-row panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="workflow-name">{{workflow.name}}</span>
      <span class="pull-right">
        {{#if workflow.selected}}
          <span class="glyphicon glyphicon-ok"></span>
        {{else}}
          <span class="glyphicon"></span>
        {{/if}}
      </span>
    </div>
  </div>
  <div class="panel-body">
    <span class="workflow-description">{{workflow.description}}</span>
    <span class="workflow-versions">
      {{#each workflow.versions as |version|}}
        {{#workflow-version-detail-row version}}{{/workflow-version-detail-row}}
      {{/each}}
    </span>
  </div>
</article>
{{yield}}
