<div class="workflow-version-summary">
    <p>
        <span class="workflow-version-summary-description">
          {{if workflowVersion.description workflowVersion.description 'Empty description'}}
        </span>
        {{#if showVersionNumber }}
            <span class="small workflow-version-summary-version">- Version {{workflowVersion.version}}</span>
        {{/if}}
    </p>
  {{yield}}
</div>