<article class="workflow-detail-row panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="workflow-name">{{workflow.name}}</span>
      <span class="pull-right">
        {{#if selected}}
          <span class="glyphicon glyphicon-ok"></span>
        {{else}}
          <span class="glyphicon"></span>
        {{/if}}
      </span>
    </div>
  </div>
  <div class="panel-body">
    <span class="workflow-description">Workflow description</span>
  </div>
</article>
{{yield}}
