{{#bs-alert type='danger' dismissible=false}}
  <h4 class="alert-heading">Workflow Not Setup</h4>
  <p>
    This workflow is not setup for running via this website.
  </p>
  <p>
    <a href="https://github.com/Duke-GCB/bespin-cli">bespin-cli</a> can be used to run this workflow.
  </p>
{{/bs-alert}}
{{yield}}
