<dl class="workflow-version-detail-row">
  <dt>Version</dt>
  <dd class="workflow-version-version">{{version.version}}</dd>
  <dt>URL</dt>
  <dd class="workflow-version-url"><a href="{{version.url}}">{{version.url}}</a></dd>
</dl>
{{yield}}
