<div class="workflow-version-detail-row">
  <p class="workflow-version-description">{{if version.description version.description 'Empty description'}}</p>
  <p class="workflow-version-details small pull-right">Version <a class="workflow-version-url" href="{{version.url}}"><span class="workflow-version-version">{{version.version}}</span></a></p>
</div>
