<div class="container-fluid">
  <h3>Creating job</h3>
  <p>Please provide a name and select the kind of workflow you'd like to run</p>
  {{jobs.select-workflow job workflows}}
</div>
<hr/>
{{jobs.debug-details job}}
{{yield}}
