<h3>Select input files</h3>
<p>Please select input files for this workflow from a Duke Data Service project</p>
{{#bs-form-group class='select-input-files'}}
  {{dds.dds-project-picker projects}}
{{/bs-form-group}}
{{yield}}
