{{#bs-form as |form|}}
  <h3>Creating job</h3>
<p>Please provide a name and select the kind of workflow you'd like to run</p>
  {{#form.group class='job-name'}}
    <label class="control-label">Name:</label>
    {{input class="form-control" type=text value=job.name}}
  {{/form.group}}
  {{#form.group class='job-kind'}}
    <label class="control-label">Kind:</label>
    {{#workflow-picker workflows (action "workflowChanged")}}{{/workflow-picker}}
  {{/form.group}}
{{yield}}
{{/bs-form}}