{{#dds.dds-project-files-picker projects project pickedFiles}}
  <h3>Select input files</h3>
  <p>Please select input files for this workflow from a Duke Data Service project</p>
{{/dds.dds-project-files-picker}}
