{{#jobs/workflow-version-card workflowVersion=workflow.latestEnabledVersion onPicked=(action "pick")}}
    <div class="small pull-right">
      {{#link-to "jobs.new.select-workflow-version" workflow class="jobs-workflow-card-browse-versions"}}
          Browse All Versions
      {{/link-to}}
    </div>
{{/jobs/workflow-version-card}}
{{yield}}
