.project-detail-row {
  cursor: pointer;
}

/* Tree styling for ul */

ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree ul {
  margin-left: 10px;
}
ul.tree li {
  margin: 0;
  padding: 0 7px;
  border-left:1px solid rgb(100,100,100);

}
ul.tree li:last-child {
  border-left:none;
}
ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  border-bottom:1px solid rgb(100,100,100);
  content:"";
  display:inline-block;
  left:-7px;
}
ul.tree li:last-child:before {
  border-left:1px solid rgb(100,100,100);
}

.dds-resource-node {
  cursor: pointer;
}

.dds-resource-file-details:before {
  content: "(";
}

.dds-resource-file-details:after{
  content: ")";
}

.dds-resource-file-details span:after {
  content: ", ";
}

.dds-resource-file-details span:last-child:after {
  content: "";
}

.dds-resource-file-version:before {
  content: "v";
}

.dds-resource-file-details {
  font-style: italic;
}
