<h3>
    Workflow:
{{#link-to "workflows.show" workflow}}
    {{workflow.name}}
{{/link-to}}
</h3>
{{#each sortedVersions as |workflowVersion|}}
   {{workflows/workflow-version-detail workflowVersion=workflowVersion}}
{{/each}}
{{yield}}
