<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">
      <span>Version History: {{versionTag}}</span>
      <span class="pull-right"><a href="{{workflowVersion.versionInfoUrl}}">Version Info</a></span>
    </span>
  </div>
  <div class="panel-body">
    {{markdown-to-html versionInfoContent}}
  </div>
</div>
