# Contains three jobs: build, pack, and deploy.
# Job `build` is always run to test code via npm test
# Jobs `pack` then `deploy` are run in sequence for version number tags.
# The `pack` job creates dev and prod releases via ./build-release.sh in the workspace.
# The `deploy` job creates a release on github using everything in the workspace.
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - &restore_npm_cache
        restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
      - &install_dependencies
        run:
          command: |
            npm config set spin false
            npm install
            npm install phantomjs-prebuilt
      - &save_npm_cache
        save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm test
  pack:
    docker:
      - image: circleci/node:8.9-browsers
    steps:
      - checkout
      - *restore_npm_cache
      - *install_dependencies
      - *save_npm_cache
      - run:
          name: create packed workflows
          command: |
            export PATH=./node_modules/.bin/:$PATH
            ./build-release.sh
      - persist_to_workspace:
          root: "."
          paths:
            - bespin-ui-dev.tar.gz	
            - bespin-ui-prod.tar.gz
  deploy:
    docker:
      - image: circleci/golang:1.8
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} /tmp/workspace
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - pack:
          requires:
            - build
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - pack
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
