<div class="page-header">
    <h3>Readme for Job '{{model.name}}'</h3>
</div>
{{job-output-readme outputDir=model.outputDir}}
<hr />
{{#link-to "jobs.show" model}}View Job Summary{{/link-to}}
{{outlet}}
