<ul class="tree list-unstyled">
{{#each resources as |resource|}}
  <li class="dds-resource-list-item">{{dds/dds-resource-tree resource selectedResources (action 'pickFile')}}</li>
{{/each}}
</ul>
{{yield}}
