{{#each resources as |resource|}}
  {{dds.dds-resource-tree resource (action 'toggleResource')}}
{{/each}}

<h3>Selected Files in {{project.name}}</h3>
<ul>
{{#each pickedResources as |picked|}}
  <li>{{picked.name}}</li>
{{/each}}
</ul>
{{yield}}
