{{dds.dds-resource-node resource expanded pickedResources action='resourceClicked'}}
{{#if expanded}}
  <ul class="list-unstyled">
    {{#each children as |child|}}
      <li>{{dds.dds-resource-tree child pickedResources (action onPick) }}</li>
    {{/each}}
  </ul>
{{/if}}
{{yield}}

