<div class="row">
  {{#each items as |item|}}
    {{#item-chooser.item-picker-detail-row item selectedItem (action "pick") as |row|}}
      {{row.detail version=item.latestVersion}}
    {{/item-chooser.item-picker-detail-row}}
  {{/each}}
</div>
{{yield}}
