<div class="row">
  {{#each items as |item|}}
    {{#item-chooser.item-picker-detail-row item selectedItem (action "pick") itemTitleKey}}
      {{component detailComponent item}}
    {{/item-chooser.item-picker-detail-row}}
  {{/each}}
</div>
