{{questionnaire/answer-form model}}

{{#bs-button type="default" onClick=(action 'back') class="back-button"}}Back{{/bs-button}}
{{#bs-button type="primary" onClick=(action 'saveAndCreateJob') class="pull-right next-button"}}Save{{/bs-button}}

{{! move this to another component }}
{{#if model.errors}}
  <ul class="job-answer-set-errors">
    {{#each model.errors as |error|}}
      <li>{{error}}</li>
    {{/each}}
  </ul>
{{/if}}
{{outlet}}
