<ul>
  {{#each fields as |field|}}
    <li>{{component field.componentName field.name (action 'provideAnswer')}}</li>
  {{/each}}
</ul>
{{#bs-button onClick=(action 'save') }}Save{{/bs-button}}
{{yield}}
