<p>Name: {{input class='form-control' value=pairName}}</p>
{{error-panel errors=errors}}
<ul>
  {{#each pair.ddsFiles as |ddsFile idx|}}
    {{questionnaire/file-group-file ddsFile idx (action 'click')}}
  {{/each}}
</ul>
{{yield}}
