<p>Read {{ displayIndex }}</p>
<ul>
  {{questionnaire/file-pair-file filePair.file1 0 (action 'removeFile')}}
  {{questionnaire/file-pair-file filePair.file2 1 (action 'removeFile')}}
</ul>
{{yield}}
