<div class="col-md-12">
  {{#bs-form as |form|}}
    {{#form.group class='int-field-group'}}
      <label for="{{concat elementId '-intField'}}">{{ displayFieldName }}</label>
      {{input type="number" pattern="/^\d+$/" class='form-control int-field-input' id=(concat elementId '-intField') value=answerValue}}
    {{/form.group}}
  {{/bs-form}}
  {{#if answerFormErrors.show}}
    {{error-panel errors=fieldErrors}}
  {{/if}}
</div>
