<div class="row">
    <div class="col-md-6">
        <label for="jobName">Job Name:</label>
        {{input class='form-control' id='jobName' placeholder='Enter name for this job' value=answerSet.jobName}}
    </div>
</div>
{{yield}}
