<span class="question-name">{{question.name}}</span>
{{#unless questionnaireAnswer}}
  {{#if question.isFile}}
    {{questionnaire.dds-file-answer question.occurs (action 'answered')}}
  {{/if}}
  {{#if question.isString}}
    {{questionnaire.string-answer ""}}
  {{/if}}
{{/unless}}
{{yield}}
