<label>{{displayLabel}}</label>
{{#bs-alert type='danger' dismissible=false}}
  <strong>Not implemented</strong>
  <p>
    This control has not been implemented. Proceeding with this job is unlikely to succeed.
  </p>
  <p>
    <a href="https://github.com/Duke-GCB/bespin-cli">bespin-cli</a> can be used to run this workflow.
  </p>
{{/bs-alert}}
{{yield}}
