<label>{{displayLabel}}</label>
{{#bs-alert type='danger' dismissible=false}}
  <strong>Not implemented</strong>
  <p>
    ERROR: This control has not been implemented.
  </p>
{{/bs-alert}}
{{yield}}
