<div class="container">
  {{#bs-navbar as |navbar|}}
    <div class="navbar-header">
      {{#navbar.toggle}}
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      {{/navbar.toggle}}
      {{#link-to 'index' class="navbar-brand"}}Bespin{{/link-to}}
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to 'jobs'}}Jobs{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to 'workflows'}}Workflows{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to 'faqs'}}FAQs{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
      {{#navbar.nav class="navbar-right" as |nav|}}
          {{#if session.isAuthenticated}}
            {{#nav.item}}
              <p class="navbar-text">Logged in as {{user-info currentUser}}</p>
            {{/nav.item}}
            {{#nav.item}}{{#nav.link-to 'settings'}}Settings{{/nav.link-to}}{{/nav.item}}
          {{/if}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
  <div class="body">
    {{outlet}}
  </div>
</div>
