<div class="jumbotron text-center">
    <h2>Bespin: Bioinformatics Workflow Service</h2>
    <p>Automated running of bioinformatic workflows.</p>
    <p><a class="btn btn-primary btn-lg" href="/auth/authorize/?next=/jobs" role="button">LOG IN</a></p>
</div>
