{{#bs-form}}
  {{#bs-form-group}}
    <label for="identification">Username</label>
    {{#bs-input id='identification' placeholder='Enter Username' value=identification}}{{/bs-input}}
  {{/bs-form-group}}
  {{#bs-form-group}}
    <label for="password">Password</label>
    {{#bs-input id='password' placeholder='Enter Password' type='password' value=password}}{{/bs-input}}
  {{/bs-form-group}}
  {{#if errorMessage}}
    {{#bs-alert type='danger' dismissible=false}}Unable to authenticate: {{errorMessage}}{{/bs-alert}}
  {{/if}}
  {{#bs-button type='default' action='authenticate'}}Login{{/bs-button}}
{{/bs-form}}