<h3>Settings</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">API Tokens</h3>
  </div>

  <div class="panel-body">
    {{tokens-list tokens=model.tokens onDeleteToken=(action 'deleteToken')}}
    {{#if showGenerateTokenButton}}
      {{#bs-button type="primary" onClick=(action 'generateToken') disabled=disableGenerateToken
                   class="generateToken-button"}}Generate Token{{/bs-button}}
    {{else}}
      Only one token is allowed at a time.
    {{/if}}
  </div>

  <div class="panel-footer">
    Your API token can be used to create and manage jobs from the command
    line via <a href="https://github.com/Duke-GCB/bespin-cli#bespin-cli">Bespin-cli</a>.
  </div>
</div>

{{outlet}}